SUPABASE_URL=https://jitlmgzlwicqpbvvudmv.supabase.co
SUPABASE_ANON_KEY=sb_publishable_GTvM_M3eKti0dMRp0Vu-IA_f_2Nd-vJ
SUPABASE_SERVICE_ROLE_KEY=sb_secret_Pl1-a5qwTblM5V9owrtvRw_DZiIqP2W

# Untuk Google OAuth 
# Dapatkan dari: https://console.cloud.google.com > Credentials
SUPABASE_AUTH_GOOGLE_CLIENT_ID=294480135543-h16hq4nl726vokibq8gvp3r6kd42otvr.apps.googleusercontent.com
SUPABASE_AUTH_GOOGLE_SECRET=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