# SatuTani AI Microservice Environment Config

# Pilihan 1: Groq API Key (Llama 3.3 70B - Cepat & Gratis)
GROQ_API_KEY=
LLM_MODEL=llama-3.3-70b-versatile

# Pilihan 2: OpenRouter API Key
# OPENROUTER_API_KEY=
# LLM_MODEL=google/gemini-3.8-flash-lite-tts

# Pilihan 3: OpenAI API Key
# OPENAI_API_KEY=

PORT=8000
